* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.home-nav {
  height: 65px;
  max-width: 980px;
  margin: 0 auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
  position: relative;
  z-index: 99;
}
.home-nav nav a {
  text-decoration: none;
  color: #fff;
}
.home-nav .logo {
  width: 92px;
  height: 42px;
  background-color: none;
  background-image: url(../images/homepage/logo-white.svg);
}
.home-nav .links {
  min-width: 490px;
  height: 42px;
  background-color: none;
  font-size: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Gill Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
.home-nav .links a {
  color: #ffffff;
  text-decoration: none;
}
.home-nav .links .vl {
  border-left: solid #79ADDC;
  height: 22px;
}

.home-home {
  margin-top: -65px;
}
.home-home .hero {
  height: 500px;
  background-color: palevioletred;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/homepage/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/homepage/hero.jpg);
}
.home-home .title {
  color: #ffffff;
  font-family: "Gill Sans";
  font-size: 60px;
  text-align: center;
  padding-top: 160px;
  cursor: default;
}
.home-home .content {
  width: 416px;
  height: 46px;
  color: #ffffff;
  margin: 0 auto;
  font-family: "Gill Sans";
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-style: italic;
  cursor: default;
}
.home-home .button {
  text-align: center;
  padding-top: 65px;
}
.home-home .button .read {
  height: 50px;
  width: 140px;
  background-color: #79ADDC;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Gill Sans";
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.home-home .specials {
  width: 818px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 0 auto;
}
.home-home .specials .box {
  height: 304px;
  width: 236px;
  background-color: palevioletred;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/homepage/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/homepage/tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-home .specials .box-two {
  height: 304px;
  width: 236px;
  background-color: palevioletred;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/homepage/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/homepage/tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-home .specials .box-three {
  height: 304px;
  width: 236px;
  background-color: palevioletred;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/homepage/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/homepage/tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-home .specials .location {
  color: #ffffff;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  font-family: "Gill Sans";
  letter-spacing: 2px;
  cursor: default;
}
.home-home .specials .text {
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  font-family: "Gill Sans";
  letter-spacing: 2px;
  cursor: default;
}
.home-home .specials .button-two {
  text-align: center;
  padding-top: 50px;
}
.home-home .specials .button-two .read {
  height: 40px;
  width: 133px;
  background-color: #79ADDC;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Gill Sans";
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.home-home .form {
  padding-top: 60px;
  min-height: 900px;
  max-width: 818px;
  background-color: none;
  margin: 0 auto;
  cursor: default;
}
.home-home .form .book {
  color: #000000;
  width: 255px;
  height: 60px;
  font-size: 45px;
  font-family: "Gill Sans";
}
.home-home .form .name {
  height: 58px;
  width: 344px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
}
.home-home .form .email {
  height: 58px;
  width: 453px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-left: 5px;
}
.home-home .form .country {
  height: 58px;
  width: 344px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-top: 20px;
}
.home-home .form .hotel {
  height: 58px;
  width: 453px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-left: 5px;
}
.home-home .form .check-in {
  height: 58px;
  width: 698px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 20px;
}
.home-home .form .label {
  font-size: 18px;
  margin-left: 10px;
  font-family: "Gill Sans";
}
.home-home .form .check-out {
  height: 58px;
  width: 698px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-left: 18px;
  margin-top: 10px;
  position: relative;
}
.home-home .form .label-two {
  font-size: 18px;
  margin-left: 10px;
  font-family: "Gill Sans";
}
.home-home .form .adult {
  width: 103px;
  height: 58px;
  font-size: 18px;
  margin-top: 30px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  margin-left: 55px;
}
.home-home .form .label-adult {
  font-size: 18px;
  margin-left: 10px;
  font-family: "Gill Sans";
}
.home-home .form .child {
  width: 103px;
  height: 58px;
  font-size: 18px;
  margin-top: 30px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  margin-left: 55px;
}
.home-home .form .label-child {
  font-size: 18px;
  margin-left: 70px;
  font-family: "Gill Sans";
}
.home-home .form .room {
  width: 103px;
  height: 58px;
  font-size: 18px;
  margin-top: 30px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  margin-left: 55px;
}
.home-home .form .label-room {
  font-size: 18px;
  margin-left: 110px;
  font-family: "Gill Sans";
}
.home-home .form .mess {
  height: 192px;
  width: 818px;
  border-color: #79ADDC;
  border: 2px solid;
  border-color: #79ADDC;
  padding-left: 20px;
  font-size: 18px;
  margin-top: 20px;
}
.home-home .form .submit {
  text-align: center;
  padding-top: 30px;
}
.home-home .form .submit .submit-button {
  width: 813px;
  height: 61px;
  background-color: #79ADDC;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Gill Sans";
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media all and (max-width: 820px) {
  .home .specials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .specials .box {
    margin-bottom: 30px;
  }
  .home .specials .box-two {
    margin-bottom: 30px;
  }
  .home .specials .box-three {
    margin-bottom: 30px;
  }
  .home .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .form .book {
    color: #000000;
    width: 255px;
    height: 60px;
    font-size: 45px;
    font-family: "Gill Sans";
    margin-left: 250px;
  }
  .home .form .name {
    height: 58px;
    width: 453px;
    margin-top: 20px;
    margin-left: 150px;
  }
  .home .form .email {
    height: 58px;
    width: 453px;
    margin-top: 20px;
    margin-left: 150px;
  }
  .home .form .country {
    height: 58px;
    width: 453px;
    margin-top: 20px;
    margin-left: 150px;
  }
  .home .form .hotel {
    height: 58px;
    width: 453px;
    margin-top: 20px;
    margin-left: 150px;
  }
  .home .form .check-in {
    height: 58px;
    width: 698px;
    border-color: #79ADDC;
    border: 2px solid;
    border-color: #79ADDC;
    padding-left: 20px;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 10px;
    position: relative;
  }
  .home .form .label {
    font-size: 18px;
    margin-left: 20px;
  }
  .home .form .check-out {
    height: 58px;
    width: 698px;
    border-color: #79ADDC;
    border: 2px solid;
    border-color: #79ADDC;
    padding-left: 20px;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 10px;
    position: relative;
  }
  .home .form .label-two {
    font-size: 18px;
    margin-left: 20px;
  }
  .home .form .adult {
    width: 40px;
    height: 58px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
  }
  .home .form .label-adult {
    font-size: 18px;
    margin-left: 200px;
    font-family: "Gill Sans";
  }
  .home .form .child {
    width: 40px;
    height: 58px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
  }
  .home .form .label-child {
    font-size: 18px;
    margin-left: 5px;
    font-family: "Gill Sans";
  }
  .home .form .room {
    width: 40px;
    height: 58px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
  }
  .home .form .label-room {
    font-size: 18px;
    margin-left: 5px;
    font-family: "Gill Sans";
  }
  .home .form .mess {
    height: 192px;
    width: 430px;
    margin-top: 20px;
    margin-left: 160px;
  }
  .home .form .submit {
    text-align: center;
    padding-top: 30px;
  }
  .home .form .submit .submit-button {
    width: 413px;
    height: 61px;
    margin-bottom: 30px;
  }
}
.home-footer {
  width: 100%;
  height: 100px;
  background-color: #79ADDC;
}
.home-footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
}
.home-footer .end .logo-end {
  width: 92px;
  height: 42px;
  background-color: none;
  background-image: url(../images/logo-white.svg);
}
.home-footer .end .copy {
  background-color: none;
  position: relative;
  left: 130px;
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
}

.about-nav {
  height: 65px;
  max-width: 980px;
  margin: 0 auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000000;
}

nav a {
  text-decoration: none;
  color: #000000;
}

.logo {
  width: 92px;
  height: 42px;
  background-color: none;
  background-image: url(../images/aboutpage/logo-black.png);
}

.links {
  min-width: 490px;
  height: 42px;
  background-color: none;
  font-size: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Gill Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
.links a {
  color: #000000;
  text-decoration: none;
}
.links .vl {
  border-left: solid #79ADDC;
  height: 22px;
}

@media all and (max-width: 1000px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .links a {
    color: #000000;
    text-decoration: none;
  }
  .links .vl {
    border-left: solid #79ADDC;
    height: 22px;
  }
}
.about-home {
  width: 980px;
  background-color: none;
  margin: 0 auto;
  height: 100%;
}

.space {
  background-color: none;
  height: 110px;
}

.about-title {
  text-transform: uppercase;
  font-size: 60px;
  background-color: none;
  height: 70px;
  width: 233px;
}

.line-one {
  width: 171px;
  background-color: black;
  height: 2px;
  position: absolute;
}

.wrapper {
  color: #000000;
  padding-top: 30px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Gill Sans";
}

.space-two {
  background-color: none;
  height: 110px;
}

.qoute-title {
  text-transform: uppercase;
  font-size: 40px;
  background-color: none;
  height: 50px;
  width: 350px;
}

.line-two {
  width: 235px;
  background-color: black;
  height: 2px;
  position: absolute;
}

.box-one {
  height: 150px;
  width: 712px;
  background-color: none;
  margin-top: 40px;
}
.box-one .picture-one {
  height: 150px;
  width: 260px;
  background-color: none;
  background-image: url(../images/aboutpage/client-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-one .info-one {
  width: 385px;
  height: 102px;
  background-color: none;
  margin-left: 290px;
  font-size: 16px;
  font-family: "Gill Sans";
}
.box-one .name-one {
  width: 165px;
  height: 20px;
  background-color: none;
  font-size: 20px;
  margin-left: 550px;
  color: #79ADDC;
  font-family: "Gill Sans";
}

.box-two {
  height: 150px;
  width: 712px;
  background-color: none;
  margin-top: 20px;
}
.box-two .picture-two {
  height: 150px;
  width: 260px;
  background-color: none;
  background-image: url(../images/aboutpage/client-two.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box-two .info-two {
  width: 385px;
  height: 102px;
  background-color: none;
  margin-left: 290px;
  font-size: 16px;
  font-family: "Gill Sans";
}
.box-two .name-two {
  width: 165px;
  height: 20px;
  background-color: none;
  font-size: 20px;
  margin-left: 550px;
  color: #79ADDC;
  font-family: "Gill Sans";
}

.space-three {
  background-color: none;
  height: 230px;
}

@media all and (max-width: 1000px) {
  .home {
    width: 980px;
    background-color: none;
    margin: 0 auto;
    height: 100%;
  }
  .space {
    background-color: none;
    height: 110px;
  }
  .about-title {
    margin: 0 auto;
  }
  .line-one {
    margin-left: 400px;
  }
  .wrapper {
    width: 500px;
    margin: 0 auto;
  }
  .qoute-title {
    margin: 0 auto;
  }
  .line-two {
    margin-left: 350px;
  }
  .box-one {
    padding-top: 30px;
    margin: 0 auto;
  }
  .box-two {
    padding-top: 30px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-two .picture-two {
    height: 150px;
    width: 260px;
    background-color: none;
    background-image: url(../images/client-two.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box-two .info-two {
    width: 385px;
    height: 102px;
    background-color: none;
    margin-left: 290px;
    font-size: 16px;
    font-family: "Gill Sans";
  }
  .box-two .name-two {
    width: 165px;
    height: 20px;
    background-color: none;
    font-size: 20px;
    margin-left: 550px;
    color: #79ADDC;
    font-family: "Gill Sans";
  }
  .space-three {
    background-color: none;
    height: 230px;
  }
}
.about-footer {
  min-width: 1280px;
  height: 100px;
  background-color: #79ADDC;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about-footer .logo {
  width: 92px;
  height: 42px;
  background-color: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url(../images/aboutpage/logo-white.png);
}
.about-footer .copy {
  font-size: 12px;
  font-family: "Gill Sans";
  width: 216px;
  height: 14px;
  background-color: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
}
.about-footer .app-box {
  width: 216px;
  height: 42px;
  background-color: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about-footer .app-box .icon {
  width: 22px;
  height: 22px;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10px;
}

@media all and (max-width: 1000px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .logo {
    position: absolute;
    margin-right: 600px;
  }
  footer .copy {
    display: none;
  }
}
.tour-nav {
  height: 65px;
  max-width: 980px;
  margin: 0 auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000000;
}

nav a {
  text-decoration: none;
  color: #000000;
}

.logo {
  width: 92px;
  height: 42px;
  background-color: none;
  background-image: url(../images/tourpage/logo-black.png);
}

.links {
  min-width: 490px;
  height: 42px;
  background-color: none;
  font-size: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Gill Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
.links a {
  color: #000000;
  text-decoration: none;
}
.links .vl {
  border-left: solid #79ADDC;
  height: 22px;
}

.tour-home {
  width: 980px;
  background-color: lavender;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tours-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tours-header.jpg);
  background-position: center;
  background-size: cover;
}
.tour-home .hero-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Gill Sans";
  text-align: center;
  font-size: 60px;
  letter-spacing: 6px;
  padding-top: 60px;
}

.tour-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tour-content .box {
  width: 236px;
  height: 304px;
  background-color: lavender;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-content .box .tour-name {
  color: #fff;
  font-size: 40px;
  font-family: "Gill Sans";
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
}
.tour-content .box .tour-price {
  color: #fff;
  font-size: 25px;
  font-family: "Gill Sans";
  text-align: center;
}
.tour-content .box .tour-button {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 50px;
  font-family: "Gill Sans";
  cursor: pointer;
}
.tour-content .box .tour-link {
  text-decoration: none;
  color: #fff;
}
.tour-content .tourOne {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-01.jpg);
}
.tour-content .tourTwo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-02.jpg);
}
.tour-content .tourThree {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-03.jpg);
}

.tour-content-two {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tour-content-two .box {
  width: 236px;
  height: 304px;
  background-color: lavender;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-content-two .box .tour-name {
  color: #fff;
  font-size: 40px;
  font-family: "Gill Sans";
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
}
.tour-content-two .box .tour-price {
  color: #fff;
  font-size: 25px;
  font-family: "Gill Sans";
  text-align: center;
}
.tour-content-two .box .tour-button {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 50px;
  font-family: "Gill Sans";
}
.tour-content-two .box .tour-link {
  text-decoration: none;
  color: #fff;
}
.tour-content-two .tourFour {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-04.jpg);
}
.tour-content-two .tourFive {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-05.jpg);
}
.tour-content-two .tourSix {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-06.jpg);
}

.tour-content-three {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 100px;
}
.tour-content-three .box {
  width: 236px;
  height: 304px;
  background-color: lavender;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-content-three .box .tour-name {
  color: #fff;
  font-size: 40px;
  font-family: "Gill Sans";
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
}
.tour-content-three .box .tour-price {
  color: #fff;
  font-size: 25px;
  font-family: "Gill Sans";
  text-align: center;
}
.tour-content-three .box .tour-button {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 50px;
  font-family: "Gill Sans";
}
.tour-content-three .box .tour-link {
  text-decoration: none;
  color: #fff;
}
.tour-content-three .tourSeven {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-07.jpg);
}
.tour-content-three .tourEight {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-08.jpg);
}
.tour-content-three .tourNine {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-09.jpg);
}

.one-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.one-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.one-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.one-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.one-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.one-content .picOne {
  background-image: url(../images/tourpage/tour/tour-israel/israel-tour-01.jpg);
}
.one-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-israel/israel-tour-02.jpg);
}
.one-content .picThree {
  background-image: url(../images/tourpage/tour/tour-israel/israel-tour-03.jpg);
}

.writing {
  max-width: 980px;
  height: 776px;
  background-color: none;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.writing .secOne {
  height: 220px;
}
.writing .secTwo {
  height: 220px;
  padding-top: 40px;
}
.writing .secThree {
  height: 220px;
  padding-top: 40px;
}
.writing .title {
  font-family: "Gill Sans";
  font-size: 40px;
}
.writing .info {
  font-family: "Gill Sans";
  letter-spacing: 1px;
  padding-top: 10px;
}
.writing .book-button {
  font-family: "Gill Sans";
  border: none;
  text-transform: uppercase;
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  color: #fff;
  border-radius: 20px;
  margin-left: 430px;
  cursor: pointer;
  margin-top: 30px;
}

.two-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.two-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.two-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.two-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.two-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.two-content .picOne {
  background-image: url(../images/tourpage/tour/tour-usa/usa-tour-01.jpg);
}
.two-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-usa/usa-tour-02.jpg);
}
.two-content .picThree {
  background-image: url(../images/tourpage/tour/tour-usa/usa-tour-03.jpg);
}

.three-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.three-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.three-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.three-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three-content .picOne {
  background-image: url(../images/tourpage/tour/tour-aus/aus-tour-01.jpg);
}
.three-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-aus/aus-tour-02.jpg);
}
.three-content .picThree {
  background-image: url(../images/tourpage/tour/tour-aus/aus-tour-03.jpg);
}

.four-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.four-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.four-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.four-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.four-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.four-content .picOne {
  background-image: url(../images/tourpage/tour/tour-nz/nz-tour-01.jpg);
}
.four-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-nz/nz-tour-02.jpg);
}
.four-content .picThree {
  background-image: url(../images/tourpage/tour/tour-nz/nz-tour-03.jpg);
}

.five-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.five-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.five-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.five-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.five-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.five-content .picOne {
  background-image: url(../images/tourpage/tour/tour-france/france-tour-01.jpg);
}
.five-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-france/france-tour-02.jpg);
}
.five-content .picThree {
  background-image: url(../images/tourpage/tour/tour-france/france-tour-03.jpg);
}

.six-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.six-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.six-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.six-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.six-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.six-content .picOne {
  background-image: url(../images/tourpage/tour/tour-egypt/egypt-tour-01.jpg);
}
.six-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-egypt/egypt-tour-02.jpg);
}
.six-content .picThree {
  background-image: url(../images/tourpage/tour/tour-egypt/egypt-tour-03.jpg);
}

.seven-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-07.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.seven-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.seven-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.seven-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.seven-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seven-content .picOne {
  background-image: url(../images/tourpage/tour/tour-japan/japan-tour-01.jpg);
}
.seven-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-japan/japan-tour-02.jpg);
}
.seven-content .picThree {
  background-image: url(../images/tourpage/tour/tour-japan/japan-tour-03.jpg);
}

.eight-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-08.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.eight-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.eight-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.eight-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.eight-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eight-content .picOne {
  background-image: url(../images/tourpage/tour/tour-canada/canada-tour-01.jpg);
}
.eight-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-canada/canada-tour-02.jpg);
}
.eight-content .picThree {
  background-image: url(../images/tourpage/tour/tour-canada/canada-tour-03.jpg);
}

.nine-hero {
  background-color: lavender;
  width: 980px;
  height: 413px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tourpage/tour/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-09.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nine-hero .hero-title {
  color: #fff;
  font-family: "Gill Sans";
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}
.nine-hero .hero-info {
  color: #fff;
  font-family: "Gill Sans";
  margin-left: 600px;
  margin-top: 280px;
  font-size: 20px;
}

.nine-content {
  max-width: 980px;
  background-color: none;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nine-content .box {
  width: 298px;
  height: 347px;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nine-content .picOne {
  background-image: url(../images/tourpage/tour/tour-uae/uae-tour-01.jpg);
}
.nine-content .picTwo {
  background-image: url(../images/tourpage/tour/tour-uae/uae-tour-02.jpg);
}
.nine-content .picThree {
  background-image: url(../images/tourpage/tour/tour-uae/uae-tour-03.jpg);
}