.eight-hero{
    background-color: lavender;
        width: $content-width;
        height: 413px;
        margin: 0 auto;
        margin-top: 40px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-08.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    
        .hero-title{
            color: #fff;
            font-family: 'Gill Sans';
            font-size: 60px;
            margin-left: 20px;
            padding-top: 20px;
        }
    
        .hero-info{
            color: #fff;
            font-family: 'Gill Sans';
            margin-left: 600px;
            margin-top: 280px;
            font-size: 20px;
        }
}