.tour-content-three{
    max-width: $content-width;
    background-color: none;
    min-height: 100%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;

    .box{
        width: 236px;
        height: 304px;
        background-color: lavender;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        .tour-name{
            color: #fff;
            font-size: 40px;
            font-family: 'Gill Sans';
            text-transform: capitalize;
            text-align: center;
            padding-top: 50px;
            
        }

        .tour-price{
            color: #fff;
            font-size: 25px;
            font-family: 'Gill Sans';
            text-align: center;
        }

        .tour-button{
           width: 133px;
           height: 40px;
           background-color: $cite-blue;
           color: #fff;
           border: none;
           text-transform: uppercase;
           border-radius: 30px;
           margin-top: 60px;
           margin-left: 50px;
           font-family: 'Gill Sans';
        }

        .tour-link{
            text-decoration: none;
            color: #fff;
        }
    }

    .tourSeven{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-07.jpg) 
    }

    .tourEight{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-08.jpg) 
    }

    .tourNine{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(../images/tourpage/tour/tour-09.jpg) 
    }
}