.offers-hero{
    width: $content-width;
    height: 150px;
    background-color: none;
    margin: 0 auto;

    .title{
        font-family: 'Gill Sans';
        font-size: 25px;
        padding-top: 70px;
    }
}